{% load static %}
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Matrix-Webhooks</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Rich and Embedded webhooks messages for your Matrix rooms</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <form class="row g-3" method="POST" action="{% url 'login_view' %}">
                {% csrf_token %}
                <div class="col-auto">
                  <input id="emailinput" type="email" name="email" class="form-control" placeholder="Your email"
                               aria-label="email"
                               aria-describedby="addon-wrapping" required>
                </div>
                <div class="col-auto">
                  <button type="submit" class="form-control btn btn-bd-hero-login d-lg-inline-block my-2 my-md-0 ms-md-3 mb-3 me-md-3">
                  Sign-Up
                  </button>
                </div>
                {% if config.FRIENDLY_CAPTCHA_ENABLED %}
                <div class="frc-captcha" data-sitekey="{{ config.FRIENDLY_CAPTCHA_SITE_KEY }}" data-solution-field-name="captcha_solution"></div>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 56vh;">
        <div class="container px-5">
            <img src="{% static 'img/matrix-embed.png' %}" class="img-fluid border rounded-3 shadow-lg mb-4"
                 alt="Matrix Screenshot" loading="lazy"
                 height="500">
        </div>
    </div>
</div>
<h2 class="pb-2 border-bottom">Features</h2>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
    <div class="col d-flex align-items-start">
        <div>
            <h2>Embedded Messages</h2>
            <p>Discord compatible webhooks makes it easy to migrate from Discord to Matrix.
                It enables you to send well <strong>structured</strong> and <strong>rich</strong> messages that you can
                customize.
            </p>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div>
            <h2>Easy Integrations</h2>
            <p>Support webhooks from github, gitlab, grafana</p>
            <p>Check roadmap.</p>
        </div>
    </div>
</div>
