<!-- Modal -->
<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login or Sign-up to matrix-webhooks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'login_view' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Login or create your account</p>
                    <div class="mb-3">
                        <label for="emailinput" class="form-label">Email address</label>
                        <input id="emailinput" type="text" name="email" class="form-control" placeholder="Your email" aria-label="email"
                               aria-describedby="addon-wrapping" required>
                    </div>
                    <div></div>
                    <div class="magic-link-msg">
                        We'll send you a magic link for a no-password sign up.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
