<!-- Modal -->
<div class="modal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login or Sign-up to matrix-webhooks</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'login_view' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <p>Login or create your account</p>
                    <div class="mb-3">
                        <label for="emailinput" class="form-label">Email address</label>
                        <input id="emailinput" type="email" name="email" class="form-control" placeholder="Your email"
                               aria-label="email"
                               aria-describedby="addon-wrapping" required>
                        {% if invitation_only %}
                        <label for="invitationcodeinput" class="form-label">Invitation Code</label>
                        <input id="invitationcodeinput" type="text" name="invitation_code" class="form-control"
                               placeholder="Your Invitation Code"
                               aria-label="invitation_code"
                               aria-describedby="addon-wrapping">
                        {% endif %}
                    </div>
                    <div></div>
                    {% if invitation_only %}
                    <div class="invitation-only-info">
                        For now we have invitation only sign-up.<br/>
                        If you have an invitation code or if you're already registered,
                        we will send you a magic link for a no-password login.<br/>
                        Otherwise you will be added to the waiting list.
                    </div>
                    {% else %}
                    <div class="magic-link-msg">
                        We'll send you a magic link for a no-password sign up.
                    </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
